#default-sidebar {
  width: 20.8%;
  padding: 4px 5px 9px 3px;
  border: 0.5px #d7aeae solid;
  background-color: #f5fffb;
  box-shadow: 2px 0px 3px 0px #00000040;
  height: fit-content;
}

.side-menu {
  background-color: #d6e4f0;
  border-radius: 10px;
}

#accordionExample::-webkit-scrollbar {
  width: 10px;
}

#accordionExample::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: 2.5px;
}
