/* CustomInput.css */
.input-wrapper {
    display: flex;
    width: 85%;
    align-items: center;
    gap: 10px;
}

.input-wrapper input {
    background-color: var(--input-bg);
    outline: none;
    border: 0.5px #d5d5d5 solid;
    border-radius: 10px;
    font-size: 18px;
    width: 64%;
    padding: 3px 8px;
}

.input-wrapper input[type="checkbox"] {
    width: fit-content;
}

.custom-input {
    /* Add your input styles here */
    /* padding: 8px; */
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
}

.custom-input:focus {
    outline: none;
    border-color: #007bff;
}