input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.statement p {
  height: 100%;
  /* border-right: 1px solid black; */
}
