.ledger {
    display: flex;
    justify-content: space-between;
}

.bills {
    width: 77.77%;
    margin-top: 9px;
}
.bill-btns {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    padding: 5px;
}

.textarea-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    align-self: center;
    padding: 5px 36px;
}

.textarea-wrapper textarea {
    width: 50%;
    resize: horizontal;
    background-color: var(--input-bg);
    border-radius: 10px;
    border: 0.5px solid #858585
}